<div class="subcontent">


    <div class="susubcontent">
        <div class="content1">
            <div class="possition">
                <div>
                    <h3 class="fs-4 f-bolder" style="margin-top: 15px; margin-left: 15px; white-space: nowrap;">Top Produccts</h3>
                    <app-chart5></app-chart5>
                </div>

            </div>


        </div>
    </div>



    <div class="susubcontent2">
        <div class="content2">
            <div class="possition2">
                <div>
                    <h3 class="fs-4 f-bolder" style="margin-top: 15px; margin-left: 15px; white-space: nowrap;">Sales Mapping by Country</h3>

                </div>
                <img class="imgmap" src="Group 1.jpg" alt="">

            </div>

        </div>
    </div>



    <div class="susubcontent3">
        <div class="content3">
            <div class="possition">
                <div class="w">
                    <h3 class="fs-4 f-bolder" style="margin-top: 15px; margin-left: 15px; white-space: nowrap;">Customer Satisfaction</h3>
                    <div class="d-flex justify-content-center">
                        <chart7></chart7>
                    </div>
                    <div class="div1">
                        <div class="hoho1">
                            <div class=" gg border-end custom-border mr-2  pe-3">
                                <img class="img" src="circleblue.jpg" alt="">
                                <p class="mb-0">Volume</p>
                            </div>
                            <p style="color: black;" class="mb-0 pr-4">1,335</p>
                        </div>
                        <div class="hoho2">

                            <div class=" gg">
                                <img class="img" src="cieclegreen.jpg" alt="">
                                <p class="mb-0">Service</p>
                            </div>
                            <p style="color: black;" class="mb-0 pl-4">635</p>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>

</div>