<div class="chart-container">
  <div class="chart-container2">
    <canvas #areaChart></canvas>
  </div>

  <div class="div1">
    <div class="content1">
      <div class=" gg" style="border-right: 1px solid  #d8d8d8 ; padding-right: 20px;">
        <img class="img" src="circleline.jpg" alt="">
        <p class="mb-0">Last Month</p>
      </div>
      <p style="color: black;"class="mb-0 pr-4">$3,004</p>
    </div>




    <div class="content2">
      <div class="gg" style="padding-left: 20px;">
        <img class="img" src="greencircle.jpg" alt="">
        <p class="mb-0">This Month</p>
      </div>
      <p style="color: black;" class="mb-0 pl-4">$4,504</p>
    </div>

  </div>

</div>