<div class="pos">

    <div class="top">

        <div class="logo">
            <img class="img" src="/logo.jpg" alt="logo">
            <h1>Dabang</h1>
        </div>
        <div class="content1">
            <img class="img1" src="/logodash.jpg" alt="logo">
            <p>Dashboard</p>
        </div>
        <div class="content2">
            <img class="img2" src="/graph2.jpg" alt="logo">
            <p>Leaderboard</p>
        </div>
        <div class="content2">
            <img class="orderimg" src="/chart.jpg" alt="logo">
            <p>order</p>
        </div>
        <div class="content2 ">
            <img class="img2" src="/shop.jpg" alt="logo">
            <p>Product</p>
        </div>
        <div class="content2">
            <img class="orderimg" src="/graph3.jpg" alt="logo">
            <p>SalesReport</p>
        </div>




    </div>
</div>