<div class="pos">

    <div class="top">

        <div class="logo">
            <img class="img" src="/logo.jpg" alt="logo">
            <h1 class="mb-0 ">Dabang</h1>
        </div>
        <div class="content1">
            <img class="img1" src="/logodash.jpg" alt="logo">
            <p class="mb-0 text">Dashboard</p>
        </div>
        <div class="content2">
            <img class="imgshoper" src="/leaderboard-icon-lg.jpg" alt="logo">
            <p class="mb-0 text">Leaderboard</p>
        </div>
        <div class="content2">
            <img class="imgshoper" src="/hehes.jpg" alt="logo">
            <p class="mb-0 text">order</p>
        </div>
        <div class="content2 ">
            <img class="imgshoper" src="/pro.jpg" alt="logo">
            <p class="mb-0 textp">Product</p>
        </div>
        <div class="content2">
            <img class="imgshoper" src="/line-chart-icon.jpg" alt="logo">
            <p class="mb-0 text">SalesReport</p>
        </div>
        <div class="content2">
            <img class="imgshoper" src="/message-icon.jpg" alt="logo">
            <p class="mb-0 text2">Messages</p>
        </div>
        <div class="content2">
            <img class="imgshoper" src="/setting.jpg" alt="logo">
            <p class="mb-0 text2">Setting</p>
        </div>
        <div class="content2">
            <img class="imgshoper" src="/logout.jpg" alt="logo">
            <p class="mb-0 text2">Sign Out</p>
        </div>
    </div>
    <div class="pro-card  text-white p-4 rounded-4 text-center">
        <div class="icon-container mb-3">
          <img src="/sss4.jpg" alt="Icon" class="icon">
        </div>
        <h4 class="fw-bold">Dabang Pro</h4>
        <p class="description">Get access to all features on tetumbas</p>
        <button class=" btn btn-light fw-bold px-4 py-2" style="color: #7b61ff;">Get Pro</button>
      </div>
</div>