<div class="pos">

    <div class="top">

        <div class="logo">
            <img class="img" src="/logo.jpg" alt="logo">
            <h1 class="mb-0 ">Dabang</h1>
        </div>
        <div class="content1">
            <img class="img1" src="/logodash.jpg" alt="logo">
            <p class="mb-0 text">Dashboard</p>
        </div>
        <div class="content2">
            <img class="img2" src="/graph2.jpg" alt="logo">
            <p class="mb-0 text">Leaderboard</p>
        </div>
        <div class="content2">
            <img class="orderimg" src="/chart.jpg" alt="logo">
            <p class="mb-0 text">order</p>
        </div>
        <div class="content2 ">
            <img class="imgshop" src="/shop.jpg" alt="logo">
            <p class="mb-0 textp">Product</p>
        </div>
        <div class="content2">
            <img class="orderimg" src="/graph3.jpg" alt="logo">
            <p class="mb-0 text">SalesReport</p>
        </div>
        <div class="content2">
            <img class="messageimg" src="/message-icon.jpg" alt="logo">
            <p class="mb-0 text2">Messages</p>
        </div>

    </div>
</div>