.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  height: 150px;
  width: 100%; /* ปรับขนาดตามต้องการ */
}

.chart-container canvas {
  width: 130% !important;
  height: 100% !important;
}
