.chart-container {
  margin-right: 20px;
  width: 170px;  /* ปรับขนาด container */
  height: 140px;
  position: relative;
}

.chart-container canvas {
  width: 120% !important;
  height: 100% !important;
}
