
.sidebar {
    width: 100px; /* Adjust sidebar width as needed */
    height: 100%;
    background-color: #ffffff;
    box-shadow: 2px 0 5px #0000001a;
    padding: 20px;
}

.content {
  display: flex;  position: fixed;
 width: 100%;
 height: 100%;
}
.subcontent {
  
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
.truebackground{
    background-color: rgb(249, 249, 249);
    position: fixed; /* ทำให้มันติดอยู่กับ viewport */
    top: 0;
    left: 0;
    width: 100vw; /* กำหนดความกว้างให้เต็มหน้าจอ */
    height: 100vh; /* กำหนดความสูงให้เต็มหน้าจอ */
    display: flex;
    align-items: center;
    justify-content: center;

}
.main-content {
   margin-left: 0px;
  
}
.pos-subcontent{
  margin-top: 2%;
  position: fixed;
display: flex;
width: 100%;
flex-direction: column;


}