<div class="subcontent">



    <div class="susubcontent">
        <div class="content1">
            <div class="possition">
                <div>
                    <h3 style="margin-top: 15px; margin-left: 15px; white-space: nowrap;">Total Revenue</h3>
                    <div class="d-flex justify-content-center"> <app-chart2></app-chart2></div>

                </div>

            </div>




        </div>
    </div>



    <div class="susubcontent2">
        <div class="content2">
            <div class="possition">
                <div>
                    <h3 style="margin-top: 15px; margin-left: 15px; white-space: nowrap;">Customer Satisfaction</h3>



                    <app-chart3></app-chart3>



                </div>



            </div>



        </div>
    </div>


    <div class="susubcontent3">
        <div class="content3">
            <div>
                <h3 style="margin-top: 15px; margin-left: 15px; white-space: nowrap;" class="chart-title">Target vs
                    Reality
                </h3>
                <div class="d-flex justify-content-center">
                    <app-chart4></app-chart4>

                </div>

                <div class="legend">
                    <div class="legend-item">
                        <img class="img" src="ssse.jpg" alt="Reality Sales">
                        <div class="legend-item2">
                            <p>Reality Sales</p>
                            <span>Global</span>
                        </div>

                        <strong class="reality-value" style="margin-left: 100px;">8,823</strong>
                    </div>
                    <div class="legend-item">
                        <img class="img" src="oop.jpg" alt="Target Sales">
                        <div>
                            <p>Target Sales</p>
                            <span>Commercial</span>
                        </div>
                        <strong class="target-value" style="margin-left: 100px;">12,122</strong>
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>