<div class="subcontent">




    <div class="content1">
        <div class="possition">
            <div>
                <h3>Total Revenue</h3>
               
            </div>
            
        </div>
        <div class="possition">
            
        </div>

    </div>



    <div class="content2">
        <div class="possition">
            <div>
                <h3>Customer Satisfaction</h3>
            </div>


        </div>
        <div class="graphhh">
           
        </div>
    </div>


    
    <div class="content3">
        <div class="possition">
            <div>
                <h3>Target vs Reallity</h3>
            </div>


        </div>
        <div class="graphhh">
           
        </div>
    </div>

</div>