<div class="subcontent">




    <div class="content1">
        <div class="possition">
            <div>
                <h3 style="margin-top: 0px; margin-bottom: 0px; white-space: nowrap;">Total Revenue</h3>
                <app-chart2></app-chart2>
            </div>

        </div>




    </div>



    <div class="content2">
        <div class="possition">
            <div>
                <h3>Customer Satisfaction</h3>
                <app-chart3></app-chart3>
            </div>



        </div>



    </div>


    <div class="content3">
        <h3 class="chart-title">Target vs Reality</h3>
        <app-chart4></app-chart4>

      
    </div>

</div>