<div class="chart-container">
    <canvas #chartCanvas></canvas>
 <div class="legend">
            <div class="legend-item"><img src="reality-icon.png" alt="">
                <div class="legend-item2">
                    <p>Reality Sales</p>
                    <span>Global</span>
                </div>

                <strong class="reality-value">8,823</strong>
            </div>
            <div class="legend-item">
                <img src="target-icon.png" alt="Target Sales">
                <div>
                    <p>Target Sales</p>
                    <span>Commercial</span>
                </div><strong class="target-value">12,122</strong>
            </div>
        </div>
   
</div>
