
.subcontent {
    display: flex;
    margin-bottom: 1px;
    align-items: center;
    margin-right: 3px;
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
    gap: 20px ;
}

.content1{

   /* margin-right: 20px;*/
width:105%; 
    height: 270px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  
}

  /* .con1{
    margin-left:20px ;
    margin-right:20px ;
display: flex;
width: 95%;

}   */
.container{
    display: flex;
    width: 100%;
}
.content2{
    width: 96%;
    height: 270px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 10px;
}

.possition {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;

}
.possition2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}

.form-button {
    background-color: #ffffff;
    color: #000000;
    margin-left: 3px;
    border-radius: 6px;
    width: 90px;
    padding-left: 25px;
    background-image: url('/export-icon.jpg');
    background-size: 12px;
    background-position: 6px center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    justify-content: center;
    margin-right: 10px;
    font-size: 12px;
}

.background {
    width: 130px;
    height: 150px;
    /*margin-right: 6px;*/
    background-color: rgb(248, 207, 207);
    border-radius: 6px;
    text-align:left;
    margin-left: 3px;
    margin-right: 3px; 
}

.background2 {
    width: 130px;
    height: 150px;
    /*margin-right: 6px;*/
    background-color: rgb(254, 238, 197);
    border-radius: 6px;
    margin-left: 3px;
    text-align:left;
    margin-right: 3px; 
}

.background3 {
    width: 130px;
    height: 150px;;
    /* margin-right: 6px; */
    background-color: rgb(208, 242, 194);
    border-radius: 6px;
    margin-left: 3px;
    margin-right: 3px; 
    text-align:left;
}

.background4 {
    width: 130px;
    height: 150px;
    background-color: rgb(235, 221, 245);
    border-radius: 6px;
    margin-right: 3px; 
    padding: 1px;
    text-align:left;
    margin-left: 3px;
}

.img {
    width: 60px;
    height: auto;
    margin-right: 5px;
}

.fonter {
    font-size: medium;
    font-weight: bold;
    margin-left: 10px;
}

.fonter2 {
    font-size: small;
    margin-left: 10px;
}

.fonter3 {
    color: rgb(107, 107, 255);
    font-size: xx-small;
    margin-left: 10px;
}
.w {
width: 100%;

}
.susubcontent{

    width:55%;



}
.susubcontent2{

    width:47%;



}