<div class="subcontent">




    <div class="content1">
        <div class="possition">
            <div>
                <h3>Today's Sales</h3>
                <h5 style="margin-left: 5px; color:#a0a0a0 ;">sales Summary</h5>
            </div>
            <div>
                <button class="form-button">Export</button>
            </div>
        </div>
        <div class="possition">
            <div class="background">
                <img class="img" src="iconsale.jpg" alt="iconsale">
                <p class="fonter">$1K</p>
                <p class="fonter2">Tatal sales</p>
                <p class="fonter3">+8% from yesterday</p>
            </div>
            <div class="background2">
                <img class="img" src="doc.jpg" alt="iconsale">
                <p class="fonter">300</p>
                <p class="fonter2">Tatal Order</p>
                <p class="fonter3">+5% from yesterday</p>
            </div>
            <div class="background3">
                <img class="img" src="productsold.jpg" alt="iconsale">
                <p class="fonter">5</p>
                <p class="fonter2">Product sold</p>
                <p class="fonter3">+1.2% from yesterday</p>
            </div>
            <div class="background4">
                <img class="img" src="newcus.jpg" alt="iconsale">
                <p class="fonter">8</p>
                <p class="fonter2">New Customers</p>
                <p class="fonter3">+0.5% from yesterday</p>
            </div>
        </div>

    </div>



    <div class="content2">
        <div class="possition">
            <div>
                <h3>Visitor insights</h3>
            </div>


        </div>
        <div class="graphhh">
           
        </div>
    </div>

</div>