<div class="truebackgroundpos">
    <div class="truebackground">
<h1>Dashboard</h1>
    <div class="dashboardcontetnt">
        <div class="container ">
            <input type="text" class="form-control" placeholder="Search here...">
            <div class="content">
                <img class="img" src="/us.jpg" alt="us">
                <p class="content-text mt-3">Eng(us)</p>
                <img class="img2" src="/hah.jpg" alt="us">
            </div>
            <div class="content2 ">
                <img class="img" src="/noti.jpg" alt="us">
                <img src="/man.jpg" alt="man">
                <div>
                    <span>Musfiq</span><br>
                    <span class="span-text">admin</span>
                </div>

                <img class="img2" src="/hah.jpg" alt="us">
            </div>
        </div>
    </div>




    </div>
    

</div>